n8n-workflows/1-auto-reply-pattern-a.json
{
  "name": "RealFlow — Auto Reply (Pattern A: Backend Pre-renders)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realflow/auto-reply",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/email/send",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "replyTo",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $env.N8N_CALLBACK_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000002",
      "name": "Send Reply Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/n8n-callback",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "leadId",
              "value": "={{ $('Webhook').first().json.leadId }}"
            },
            {
              "name": "workflowId",
              "value": "={{ $('Webhook').first().json.workflowId }}"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "error",
              "value": ""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $env.N8N_CALLBACK_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000003",
      "name": "Callback — Lead Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Error handler — runs when Send Reply Email fails\nconst webhookData = $('Webhook').first().json;\n\nreturn [{\n  json: {\n    leadId: webhookData.leadId,\n    workflowId: webhookData.workflowId,\n    status: 'failed',\n    error: $input.item.json.error || $input.item.json.message || 'Email send failed'\n  }\n}];"
      },
      "id": "11111111-0001-0001-0001-000000000004",
      "name": "Build Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/n8n-callback",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "leadId",
              "value": "={{ $json.leadId }}"
            },
            {
              "name": "workflowId",
              "value": "={{ $json.workflowId }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "error",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $env.N8N_CALLBACK_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0001-0001-0001-000000000005",
      "name": "Callback — Send Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Reply Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply Email": {
      "main": [
        [
          {
            "node": "Callback — Lead Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Payload": {
      "main": [
        [
          {
            "node": "Callback — Send Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "versionId": "realflow-auto-reply-a-v2",
  "tags": [
    { "id": "1", "name": "realflow" },
    { "id": "2", "name": "email" },
    { "id": "3", "name": "auto-reply" }
  ]
}
