n8n-workflows/2-auto-reply-pattern-b.json
{
  "name": "RealFlow — Auto Reply (Pattern B: n8n Fetches Template)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realflow/auto-reply-fetch",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/templates/{{ $json.templateId }}/render",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "variables",
              "value": "={{ JSON.stringify($json.variables) }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.serviceToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000002",
      "name": "Render Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-userId",
              "name": "userId",
              "type": "string",
              "value": "={{ $('Webhook').first().json.userId }}"
            },
            {
              "id": "assign-html",
              "name": "html",
              "type": "string",
              "value": "={{ $json.data.html }}"
            },
            {
              "id": "assign-subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Webhook').first().json.subject || $json.data.subject }}"
            },
            {
              "id": "assign-to",
              "name": "to",
              "type": "string",
              "value": "={{ $('Webhook').first().json.to }}"
            },
            {
              "id": "assign-from",
              "name": "from",
              "type": "string",
              "value": "={{ $('Webhook').first().json.from }}"
            },
            {
              "id": "assign-leadId",
              "name": "leadId",
              "type": "string",
              "value": "={{ $('Webhook').first().json.leadId }}"
            },
            {
              "id": "assign-workflowId",
              "name": "workflowId",
              "type": "string",
              "value": "={{ $('Webhook').first().json.workflowId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000003",
      "name": "Merge Email Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/email/send",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "replyTo",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $env.N8N_CALLBACK_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000004",
      "name": "Send Reply Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/n8n-callback",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "leadId",
              "value": "={{ $('Merge Email Payload').first().json.leadId }}"
            },
            {
              "name": "workflowId",
              "value": "={{ $('Merge Email Payload').first().json.workflowId }}"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "error",
              "value": ""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $env.N8N_CALLBACK_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000005",
      "name": "Callback — Lead Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Render Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Template": {
      "main": [
        [
          {
            "node": "Merge Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Email Payload": {
      "main": [
        [
          {
            "node": "Send Reply Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply Email": {
      "main": [
        [
          {
            "node": "Callback — Lead Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "realflow-auto-reply-b-v2",
  "tags": [
    { "id": "1", "name": "realflow" },
    { "id": "2", "name": "email" },
    { "id": "3", "name": "auto-reply" }
  ]
}
