src/n8n/workflows/follow-up-sequence.json
{
  "name": "Follow-up Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "follow-up",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "h8i9j0k1-0008-0008-0008-000000000001",
      "name": "Webhook - Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "follow-up"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"isLead\"]}}",
              "value2": true
            }
          ],
          "string": [
            {
              "value1": "={{$json[\"customerEmail\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "h8i9j0k1-0008-0008-0008-000000000002",
      "name": "Has Email & Is Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Follow-up scheduled for 24h' }) }}"
      },
      "id": "h8i9j0k1-0008-0008-0008-000000000003",
      "name": "Respond - Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "id": "h8i9j0k1-0008-0008-0008-000000000004",
      "name": "Wait 24 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.all()[0].json;\nconst name = lead.customerName || 'there';\nconst service = (lead.services || []).join(', ') || 'our services';\nconst date = lead.movingDate || 'your chosen date';\n\nconst subject = `Following up on your enquiry — ${lead.rawEmailSubject || 'LeadFlow'}`;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<body style=\"background:#f4f4f8; padding: 40px 20px; font-family: -apple-system, Arial, sans-serif;\">\n  <div style=\"max-width:600px; margin:0 auto; background:white; border-radius:12px; padding:40px; box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n    <h2 style=\"color:#1a1a2e; margin-bottom:8px;\">Just checking in 👋</h2>\n    <p style=\"color:#555; font-size:16px;\">Hi ${name},</p>\n    <p style=\"color:#555; font-size:16px;\">\n      We wanted to follow up on your recent enquiry. We would love to help you with <strong>${service}</strong> on <strong>${date}</strong>.\n    </p>\n    <p style=\"color:#555; font-size:16px;\">\n      If you have any questions or are ready to proceed, just reply to this email or give us a call — we're here to help.\n    </p>\n    <div style=\"margin: 32px 0;\">\n      <a href=\"mailto:${lead.fromEmail || ''}\" style=\"background:#6c47ff; color:white; padding:12px 28px; border-radius:8px; text-decoration:none; font-weight:600;\">Reply to Us</a>\n    </div>\n    <p style=\"color:#999; font-size:13px;\">You're receiving this because you made an enquiry with us. To unsubscribe, simply reply with 'unsubscribe'.</p>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...lead,\n    followUpSubject: subject,\n    followUpHtml: html\n  }\n}];"
      },
      "id": "h8i9j0k1-0008-0008-0008-000000000005",
      "name": "Build Follow-up Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-backend.com/api/emails/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.customerEmail, subject: $json.followUpSubject, html: $json.followUpHtml, leadId: $json.leadId }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "h8i9j0k1-0008-0008-0008-000000000006",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Skipped — no email or not a lead' }) }}"
      },
      "id": "h8i9j0k1-0008-0008-0008-000000000007",
      "name": "Respond - Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook - Receive Lead": {
      "main": [
        [{ "node": "Has Email & Is Lead?", "type": "main", "index": 0 }]
      ]
    },
    "Has Email & Is Lead?": {
      "main": [
        [{ "node": "Respond - Accepted", "type": "main", "index": 0 }],
        [{ "node": "Respond - Skip", "type": "main", "index": 0 }]
      ]
    },
    "Respond - Accepted": {
      "main": [
        [{ "node": "Wait 24 Hours", "type": "main", "index": 0 }]
      ]
    },
    "Wait 24 Hours": {
      "main": [
        [{ "node": "Build Follow-up Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Follow-up Email": {
      "main": [
        [{ "node": "Send Follow-up Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "notes": "This workflow responds immediately to acknowledge receipt, then waits 24 hours before sending a follow-up email. The 'Send Follow-up Email' node POSTs to your backend's email-send endpoint — update the URL to your actual backend. Alternatively, replace the HTTP node with an SMTP/Gmail node and add credentials directly in n8n. To change the wait time, edit the 'Wait 24 Hours' node."
}
