src/n8n/workflows/gmail-trigger.json
{
  "name": "Gmail Lead Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-lead-trigger",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook - Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "gmail-lead-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"isLead\"]}}",
              "value2": true
            }
          ],
          "number": [
            {
              "value1": "={{$json[\"confidence\"]}}",
              "operation": "larger",
              "value2": 40
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Is Valid Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.boldme.site/webhook/notify-team",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead processed', leadId: $json.leadId }) }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Not a valid lead' }) }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Respond - Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook - Receive Lead": {
      "main": [
        [
          {
            "node": "Is Valid Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Lead?": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
