src/n8n/workflows/google-sheets.json
{
  "name": "Google Sheets Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sheets-log",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "g7h8i9j0-0007-0007-0007-000000000001",
      "name": "Webhook - Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sheets-log"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"isLead\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "g7h8i9j0-0007-0007-0007-000000000002",
      "name": "Is Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json[\"customerName\"]}}",
            "Email": "={{$json[\"customerEmail\"]}}",
            "Phone": "={{$json[\"customerPhone\"]}}",
            "From Address": "={{$json[\"fromAddress\"]}}",
            "To Address": "={{$json[\"toAddress\"]}}",
            "Date": "={{$json[\"movingDate\"]}}",
            "Services": "={{($json[\"services\"] || []).join(', ')}}",
            "Status": "={{$json[\"status\"]}}",
            "Confidence": "={{$json[\"confidence\"]}}",
            "Auto Reply Sent": "={{$json[\"autoReplySent\"]}}",
            "Email Subject": "={{$json[\"rawEmailSubject\"]}}",
            "Created": "={{$json[\"createdAt\"]}}"
          }
        },
        "options": {}
      },
      "id": "g7h8i9j0-0007-0007-0007-000000000003",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead logged to Google Sheets' }) }}"
      },
      "id": "g7h8i9j0-0007-0007-0007-000000000004",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Not a lead, skipped' }) }}"
      },
      "id": "g7h8i9j0-0007-0007-0007-000000000005",
      "name": "Respond - Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook - Receive Lead": {
      "main": [
        [{ "node": "Is Lead?", "type": "main", "index": 0 }]
      ]
    },
    "Is Lead?": {
      "main": [
        [{ "node": "Append to Sheet", "type": "main", "index": 0 }],
        [{ "node": "Respond - Skip", "type": "main", "index": 0 }]
      ]
    },
    "Append to Sheet": {
      "main": [
        [{ "node": "Respond - Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "notes": "Setup steps: (1) Create a Google Sheet with columns: Name, Email, Phone, From Address, To Address, Date, Services, Status, Confidence, Auto Reply Sent, Email Subject, Created. (2) In n8n, open this workflow and click the 'Append to Sheet' node. (3) Under Credentials, add Google Sheets OAuth2 and authenticate. (4) Replace 'YOUR_GOOGLE_SHEET_ID' with the ID from your sheet URL (the long string between /d/ and /edit)."
}
